.wrapper {
	background: url(img/neon-1-1.png);
	background-size: cover;
	min-height: 100vh;
}

.tg {
	width:128px;
	height:64px;
}

.a3 {
	margin-left: 5px;
	color: white;
}

.logo {
	margin-left: 10px;
	color: white;
}

body {
	margin: 0;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-family: Verdana;
}

.menu li {
	display: inline-block;
}

.menu a {
	display: block;
	text-decoration: none;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.menu a:hover {
	color: #5c316e;
}

.menu a.active {
	color: purple;
}

.header {
	display: flex;
	align-items: center;
	gap: 150px;
}

/* Головна */
.main-img {
float: right;
}

.main {
	width: 1000px;
	margin: 0 auto;
	padding-top: 100px;
}

.main-title {
	color: white;
	font-size: 40px;
	font-family: Verdana;
}

.subtitle {
	font-style: italic;
	color: white;
}

.button {
	width: 140px;
	height: 60px;
	font-family: Verdana;
	font-size: 18px;
	border-radius: 6px;
	background-color: white;
	border: 4px double purple;
}

.button a{
	text-decoration: none;
	color: purple;
}

.button:hover {
	background-color: transparent;
	border: 4px double white;
}

/* Про нас */
.about2 {
	float: left;
}

.about {
	background-color: white;
	height: 650px;
}

/* товари */
.tovars {
	text-align: center;
	background: rgb(191,47,203);
	background: linear-gradient(90deg, rgba(191,47,203,1) 0%, rgba(0,255,33,1) 50%, rgba(0,5,255,1) 100%); 
}

.tovars ul {
	list-style: none;
	margin:0;
	padding:0;
}

.tovars-title {
	color: yellow;
	font-family: Verdana;
	letter-spacing: 3px;


}

.tovars-subtitle {
	font-style: italic;
	color: red;
}

.name {
	color: black;
	font-family: Impact;
}

.price {
	color: red;
}

.robo:hover {
	transform: rotate(1turn)
}

.robo {
	transition: all 0.5s;
}

.a1 {
	color: white;
}